html {
    font-size: 13px; /* Base font size */
}
html, body {

    margin: 0;
    padding: 0;overflow-y:auto;
  }

h1{
    font-size:18px;
}
h2{
    font-size:16px;
}
h3{
    font-size:13px;
}
h4{
    font-size:14px; 
}
h1,h2,h3,h4,h5{
    font-weight:600;
}
ul,p{
    margin-bottom:10px;
}
.b-link{
    display: inline-block;
    padding: 5px 10px;
    margin: 8px 0 0;
    border-radius: 5px;
    background: rgb(230, 38, 38);
    
    color: #fff;
    font-size: 15px;
    line-height: 16px;
    -webkit-transition: background 500ms linear;
    -moz-transition: background 500ms linear;
    -o-transition: background 500ms linear;
    -ms-transition: background 500ms linear;
    transition: background 500ms linear;
}
.b-link:hover{
    background:rgb(184, 8, 8);
}

.swiper-button-next, .swiper-button-prev {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
}
    .swiper-button-next:after, .swiper-button-prev:after {
        font-size:15px;
        font-weight: bold;
    }
.triangle-down {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 50px solid #ec4040;
}
.section-title{
    color:#fff;
    text-transform:uppercase;
    margin:10px 0 30px;
    border-bottom:2px solid #c9b4b7;
}
    .section-title span{
        background: #ec4040;
        padding: 2px 45px 2px 20px;
        position: relative;
        border-bottom: 3px solid #f8c00b;
        margin-bottom: -2px;
        display: inline-block;
    }
    .section-title span:after{
        content: "";
        width: 0;
        height: 0;
        display: block;
        position: absolute;
        bottom: -18px;
        right: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 18px solid #f8c00b;
    }

    .section-title.sports span{
        background:#05856f;
    }
    .section-title.events span{
        background:#7c75ca;
    }
    .section-title.magento span{
        background:#75358c;
    }


.category-wrapper.fixed{
    top:0;
    left:0;
    width:100%;
    z-index:10;
}

.weather-blk{
    padding:15px 20px;
    border-radius: 10px;
    background-image:linear-gradient(354deg, #6a7282, #e4a8a8);
    display:flex;
    flex-direction: column;
    align-items: center;
    box-shadow:6px 6px 10px #606162, inset -2px -2px 4px #222121;
}
.weather-blk h2{
	font-weight: bold;
	margin-bottom:10px;
	font-size: 25px;
	color: transparent;
	background: linear-gradient(90deg, #333, #d6d3c1, #333, #b7b5a8, #333);
	background-size: 200% auto;
	-webkit-background-clip: text;
	background-clip: text;
	animation: shine 5s linear infinite, reveal 1.5s ease-in-out forwards;
	overflow: hidden;
	white-space: nowrap;
}
@keyframes shine {
    0% {
      background-position: 200% center;
    }
    100% {
      background-position: 0% center;
    }
  }
  
  @keyframes reveal {
    0% {
      max-width: 0;
      opacity: 0;
    }
    100% {
      max-width: 100%;
      opacity: 1;
    }
  }
.worldnews-wrapper .swiper-button-next,
.worldnews-wrapper .swiper-button-prev{
    top:auto;
    bottom:0;
    right:auto;
    left:0;
    width:20px;
    height:32px;
    background:#ebacac;
    color:#f8f0f0;
}
.worldnews-wrapper .swiper-button-next{
    left:25px;
}

.back-to-top{
    --offset: 50px; 
  
    position: sticky;
    bottom: 20px;      
    margin-right:10px; 
    place-self: end;
    margin-top: calc(100vh + var(--offset));
    
    /* visual styling */
    text-decoration: none;
    padding: 10px;
    font-family: sans-serif;
    color: #fff;
    background: #000;
    border-radius: 100px;
    white-space: nowrap;
    
}



@media only screen and (min-width: 768px) {
    .swiper-button-next, .swiper-button-prev {
        padding: 10px;
    }
    .swiper-button-next:after, .swiper-button-prev:after {
        font-size:20px;
    }
}

  
@media (min-width: 768px) {
    html {
      font-size: 14px; /* Font size for medium screens */
    }
    h3{
        font-size:14px;
    }
}
  
@media (min-width: 1024px) {
    html {
        font-size: 16px; /* Font size for large screens */
    }
    h1{
        font-size:25px;
    }
    h3{
        font-size:18px;
    }
}

@media (min-width: 1280px) {

}