html {
    font-size: 14px; /* Base font size */
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;overflow-y:auto;
  }

h1{
    font-size:18px;
}
h2{
    font-size:20px;
}
h3{
    font-size:16px;
}
h4{
    font-size:15px; 
}
h1,h2,h3,h4,h5{
    font-weight:600;
}

.b-link{
    display: inline-block;
    padding: 5px 10px;
    margin: 8px 0 0;
    border-radius: 5px;
    background: rgb(230, 38, 38);
    
    color: #fff;
    font-size: 15px;
    line-height: 16px;
    -webkit-transition: background 500ms linear;
    -moz-transition: background 500ms linear;
    -o-transition: background 500ms linear;
    -ms-transition: background 500ms linear;
    transition: background 500ms linear;
}
.b-link:hover{
    background:rgb(184, 8, 8);
}

.swiper-button-next, .swiper-button-prev {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
}
    .swiper-button-next:after, .swiper-button-prev:after {
        font-size:15px;
        font-weight: bold;
    }
.triangle-down {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 50px solid #ec4040;
}
.section-title{
    color:#fff;
    text-transform:uppercase;
    margin:10px 0 30px;
    border-bottom:2px solid #951717;
}
.section-title span{
    background: #ec4040;
    padding: 2px 45px 2px 20px;
    position: relative;
    border-bottom: 3px solid #f8c00b;
    margin-bottom: -2px;
    display: inline-block;
}
.section-title span:after{
    content: "";
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    bottom: -18px;
    right: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 18px solid #f8c00b;
}

@media only screen and (min-width: 768px) {
    .swiper-button-next, .swiper-button-prev {
        padding: 10px;
    }
    .swiper-button-next:after, .swiper-button-prev:after {
        font-size:20px;
    }
}

  
@media (min-width: 768px) {
    html {
      font-size: 15px; /* Font size for medium screens */
    }
}
  
@media (min-width: 1024px) {
    html {
        font-size: 16px; /* Font size for large screens */
    }
    h1{
        font-size:25px;
    }
}

@media (min-width: 1280px) {

}